{% load static %}

<div class="card-footer">
    <small class="text-body-secondary">Last updated 3 mins ago</small>
  </div>
</div>
<div class="card">
  <img src="{% static 'images/logo.jpg'%}" width="150dp">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  </div>
  <div class="card-footer">
    <small class="text-body-secondary">Last updated 3 mins ago</small>
  </div>
</div>
</div>